/**
* ! changing default browser style
**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}

.container {
    display: flex;
    flex-direction: row;
}

/**
* ! style rules for content section
**/

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2796e;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
}

.image {
    background-image: url("./images/illustration.svg");
    height: 65%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.text {
    text-align: center;
    color: white;
    font-size: 18px;
}

/**
* ! style rules for form section
**/

.title {                     /*editing the "get started" header*/
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {                       /*editing the form box*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 50px;
}

form > div > label {         /*editing the username, email and password labels*/
    display: block;
    margin-bottom: 5px;
} 

form > div > input {         /*editing the input bars*/
    width: 100%;
    border-radius: 8px;
    height: 40px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

form > div {
    position: relative;
    margin-bottom: 15px;
}

input:focus{                 /*changes made to input tab border when user clicks on it*/
    border: 2px solid #f2796e;
}

/**
* ! style rules for social section
**/

.or{
    text-align: center;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px
}

.btn-1, .btn-2 {
    width: 100%;
    padding: 4px 12px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #c4c4c4;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.btn-2 {
    background-color: #4f70b5;
    color: white;
    border: 1px;
}

.question {
    font-size: 15px;
}

span {
    color: #f2796e;
    cursor: pointer;
}

/**
* ! style rules for form icons
**/

form > div > i {             /*editing all icons*/
    position: absolute;
    padding: 10px;
}
.success-icon, .failure-icon {
    right: 0;
    opacity: 0;
}

.success-icon {
    color: green;
}

.failure-icon, .error {
    color: red;
}

.error{
    font-size: 14.5px;
    margin-top: 5px;
}

/**
* ! style rules for submit button
**/

button {
    margin-top: 15px;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    color: white;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: all 0.1s ease;
    font-family: poppins;
}

button:hover {               /*changes to button when cursor hovers over it*/
    opacity: 0.8;
}

/**
* ! media queries
**/

@media(max-width: 900px) {
    .container{
        flex-direction: column;
    }

    form, .content {
        width: 100%;
    }

    .btn {
        flex-direction: column;
    }

    .image {
        height: 70vh;
    }
    button {
        font-family: poppins;
    }
}